# Dependency directories
node_modules/

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Mac system files (optional)
.DS_Store

# npm package lock file (if you're not using npm, skip this)
package-lock.json


# Build files (e.g., if you're using build tools like Webpack, Parcel, etc.)
dist/
build/
